<div class="main-content">

  <div class="sid_menu">
    <app-side-menu [acceseUser]="user"></app-side-menu>
  </div>

  <div class="main">
    <div *ngIf="loading; else mainContent" class="loading">
      <mat-progress-spinner class="spinner" mode="indeterminate"></mat-progress-spinner>
    </div>
    <ng-template #mainContent>
      <div class="container">
        <div class="row">
          <div class="col-4"></div>
          <div class="col-6">
            <div class="form_title">メカニック・工場情報編集</div>
          </div>
        </div>

        <div class="transaction-menu">
          <div class="tab-area-base">
            <ul class="tab-menu-base">
              <ng-container *ngFor="let tab of tabs">
                <li [class.current]="tab.current" (click)="onClick($event)">{{tab.name}}</li>
              </ng-container>
            </ul>
            <!-- ngComponentOutlet で動的にコンポーネントを読み込む -->
            <div class="hoge">
              <ng-container *ngComponentOutlet="currentTab"></ng-container>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
