#modal-content-wrapper {
  width: 1%;
  height: 1%;
  display: grid;
  grid-template-rows: repeat(1fr, 3);
  color: black;
  background-color: gray;
}

#modal-hedder {
  // display: flex;
  text-align:center;
  margin-top: 10px;
  margin-left: 50px;

  #modal-title {
    font-size:35px;
  }

  #modal-message {
    font-size: 20px;
    margin: 30px 0px 30px 0px;
  }
}


.btn_area {
  margin: 30px 30px 40px 120px;
}


#btn {
  width: 300px;
}
.btn-solid {
  text-align:center;
  font-size:medium;
  color: #fff;
  border-top: 4px solid #48ecc4;
  border-right: 4px solid #0a5f4a;
  border-bottom: 4px solid #0f745b;
  border-left: 4px solid #8cf9de;
  border-radius: 10px;
  background: #0bd;
  padding: 2em 0 0 0;
  height: 4em;
  width: 8em;
  // margin: 2.5em 1em 0 0;
  white-space: pre-wrap;
}


#modal-footer {
  justify-self: right;
  align-self: center;
}

#close {
  margin-left: 10vh;
}





.name {
  cursor:pointer;
  margin-top: 20px;
  margin-left: 5vh;
  color: blue;
}

