#modal-hedder {
  text-align: center;
  margin-top: 10px;
  #modal-title {
    font-size: 15px;
  }
}


.btn-area {
  margin-left: 90px;
  margin-top: 20px;
  .btn {
    width: 60px;
    height: 40px;
  }
}