.row {
  margin-top: 30px;
}

.title {
  font-size: large;
}

.serch_service {
  // display: flex;
  margin-bottom: 40px;
}

.item {
  margin-top: 15px;
  // text-align:center;
  font-size: large;
}

.item:hover {
  // color: #fff;
  text-decoration:underline;
  // background: #dddddd;
}
