<!-- 関連メカニックモーダル -->
<div class="container">
  <div *ngIf="loading; else mainContent" class="loading">
    <mat-progress-spinner class="spinner" mode="indeterminate"></mat-progress-spinner>
  </div>
  <ng-template #mainContent>
    <div class="row">
      <div class="title">
        <div id="modal_title">{{title}}</div>
      </div>
      <div class="col-4"></div>
      <div class="close">
        <button id="close" mat-button (click)="closeModal()">✖</button>
      </div>
    </div>

    <!-- 関連メカニック表示エリア -->
    <div class="list_area" *ngIf="dispMechanicList.length > 0 else ElseContents">
      <label>登録中の車両から選ぶ場合、対象をクリックしてください。</label>
      <table>
        <thead>
          <tr>
            <th id="name">メカニック名</th>
            <th id="association">所属</th>
            <th id="association">関連を削除する</th>
        </thead>
        <tbody>
          <tr *ngFor="let mechanic of dispMechanicList">
            <td>{{mechanic.mechanicName}}</td>
            <td>
              <div *ngIf="mechanic.belongsDiv == '0' else AdminDisp">
                <div>管理者</div>
              </div>
              <ng-template #AdminDisp>
                <select class="belongs_select" [(ngModel)]="mechanic.belongsDiv" (change)="selectBelongs()">
                  <option value="">所属を選択してください。</option>
                  <option *ngFor="let belongs of belongsSelectData" [value]="belongs.belongsDiv"
                    [selected]="belongs.belongsDiv === mechanic.belongsDiv">{{belongs.belongs}}
                  </option>
                </select>
              </ng-template>
            </td>
            <td>
              <div *ngIf="mechanic.belongsDiv == '0' else AdminDispConnection">
                <div>管理者の操作はできません</div>
              </div>
              <ng-template #AdminDispConnection>
                <button type="submit" class="btn btn-primary" on-click="onResult()">紐づけを解除する</button>
              </ng-template>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="row btn_area">
        <button type="submit" class="btn btn-primary" on-click="onResult()">決定する</button>
      </div>


    </div>
    <ng-template #ElseContents>
      <div class="none_msg">
        関連するメカニック情報はありません
      </div>
    </ng-template>


    <!-- 関連工場検索・追加エリア -->
    <div class="row">
      <!-- <div class="col-1"></div> -->
    </div>

    <div *ngIf="unauthorizedMechanicList.length > 0 else NotDataContents">
      <div class="row">
        <label>{{officeName}}への関連メカニック申請一覧</label>
        <table>
          <thead>
            <tr>
              <th id="name">メカニック名</th>
              <th id="association">関連メカニックに追加する</th>
          </thead>
          <tbody>
            <tr *ngFor="let info of unauthorizedMechanicList">
              <td>{{info.requestTargetName}}</td>
              <td>
                <button type="submit" class="btn btn-primary" on-click="onAddConnection(info)">追加する</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <ng-template #NotDataContents>
      <div class="none_msg">
        <div>現在申請中のメカニック情報はありません。</div>
      </div>
    </ng-template>

    <div class="row btn_area">
      <button type="submit" class="btn btn-primary" on-click="closeModal()">閉じる</button>
    </div>
  </ng-template>
</div>
