<!-- サービス再出品画面 -->
<p>service-relisted works!</p>
<div class="main-content">
  <aside>
    <app-side-menu [acceseUser]="userInfo"></app-side-menu>
  </aside>

  <article>
    <div *ngIf="loading; else mainContent" class="loading">
      <mat-progress-spinner class="spinner" mode="indeterminate"></mat-progress-spinner>
    </div>
    <ng-template #mainContent>
      <h1>{{title}}</h1>

      <div class="container">
        <table>
          <!--タイトル　-->
          <tr>
            <td>タイトル</td>
            <td>
              <div class="mandatory-area">
                <div *ngIf="titleDiv; else elseContent">
                  <label class="mandatory">必須</label>
                </div>
                <ng-template #elseContent>
                  <div class="margin"></div>
                </ng-template>
              </div>
            </td>
            <td>
              <input id="text" name="text" class="form" type="text" [(ngModel)]="relistedService.title"
                (change)="inputTitle()" placeholder="タイトル" />
            </td>
          </tr>

          <tr>
            <!-- 地域　-->
            <td>地域</td>
            <td>
              <div class="mandatory-area">
                <div *ngIf="areaDiv; else elseContent">
                  <label class="mandatory">必須</label>
                </div>
                <ng-template #elseContent>
                  <div class="margin"></div>
                </ng-template>
              </div>
            </td>
            <td>
              <!-- {{relistedService.area}} -->
            </td>
          </tr>

          <tr>
            <!-- 作業場所　-->
            <td>作業場所</td>
            <td>
            </td>
            <td>
              <!-- {{relistedService.workArea}} -->
            </td>
          </tr>

          <tr>
            <!-- カテゴリー　-->
            <td>カテゴリー</td>
            <td>
            </td>
            <td>
              {{relistedService.category}}
            </td>
          </tr>

          <tr>
            <!-- 対象車両　-->
            <td>対象車両</td>
            <td>

            </td>
            <td>
              <!-- {{relistedService.targetVehcle}} -->
            </td>
          </tr>

          <tr>
            <!-- 価格　-->
            <td>価格</td>
            <td>
              <div class="mandatory-area">
                <div *ngIf="priceDiv; else elseContent">
                  <label class="mandatory">必須</label>
                </div>
                <ng-template #elseContent>
                  <div class="margin"></div>
                </ng-template>
              </div>
            </td>
            <td>
              <div *ngIf="priceFormDiv; else elseContent">
                <input class="form" type="text" [(ngModel)]="formPrice" (change)="inputPrice()"
                  placeholder="{{pricePlace}}" />
              </div>
              <div *ngIf="!priceFormDiv; else elseContent">
                <div>見積もりを依頼します</div>
              </div>

              <!-- <div *ngIf="errorFlg;">
                <label class="error-message">{{errormessage}}</label>
              </div> -->
            </td>

            <td>
              <select class="bid-method" name="bidMethod" [(ngModel)]="this.relistedService.bidMethod"
                (change)="selectBidMethod()">
                <option *ngFor="let item of priceSelectData" [value]="item.id" [selected]="item.id === selected">
                  {{item.label}}</option>
              </select>
            </td>
          </tr>


          <tr>
            <!-- 説明　-->
            <td>説明</td>
            <td>
              <div class="mandatory-area">
                <div *ngIf="explanationDiv; else elseContent">
                  <label class="mandatory">必須</label>
                </div>
                <ng-template #elseContent>
                  <div class="margin"></div>
                </ng-template>
              </div>
            </td>
            <td>
              <input id="explanation" name="text" class="form explanation" type="text" [(ngModel)]="relistedService.explanation"
                (change)="inputExplanation()" placeholder="説明" />
            </td>
          </tr>


          <tr>
            <!-- 希望日　-->
            <td>希望日</td>
            <td>
              <div class="mandatory-area">
                <div *ngIf="preferredDateDiv; else elseContent">
                  <label class="mandatory">必須</label>
                </div>
                <ng-template #elseContent>
                  <div class="margin"></div>
                </ng-template>
              </div>
            </td>
            <td>
              <div>
                <mat-form-field class="example-form-field">
                  <mat-label>希望日</mat-label>
                  <input matInput [matDatepicker]="picker" [(ngModel)]="startDate"
                    (dateChange)="inputPreferredDate($event)">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
                </mat-form-field>
              </div>
            </td>
            <td>
              <div *ngIf="errorDayFlg;">
                <label class="error-message-day">{{errormessageDay}}</label>
              </div>
            </td>
          </tr>


          <tr>
            <!-- 希望時間　-->
            <td>希望時間</td>
            <td>
              <div class="mandatory-area">
                <div *ngIf="timeDiv; else elseContent">
                  <label class="mandatory">必須</label>
                </div>
                <ng-template #elseContent>
                  <div class="margin"></div>
                </ng-template>
              </div>
            </td>
            <td>
              <select class="category-select" name="category" [(ngModel)]="timeSelect" (change)="selectTime()">
                <option value="">希望時間を選択してください</option>
                <option *ngFor="let time of timeData" [value]="time.label" [selected]="time.label === timeSelect">
                  {{time.label}}</option>
              </select>
            </td>
          </tr>

          <tr>
            <!-- メッセージの公開レベル　-->
            <td>メッセージの<br>公開レベル</td>
            <td></td>
            <td>
              <select [(ngModel)]="inputData.msgLv" (change)="inputWorkArea()">
                <option *ngFor="let msgLv of msgLvData" [value]="msgLv.id" [selected]="msgLv.id === msgLvSelect">
                  {{msgLv.label}}</option>
              </select>
            </td>
          </tr>

          <tr>
            <!-- メッセージの公開レベル　-->
            <td>管理ユーザー<br></td>
            <td></td>
            <td>
              <div *ngIf="adminSelectDiv">
                <select [(ngModel)]="adminSelect" (change)="inputWorkArea()">
                  <option *ngFor="let admin of adminUserData" [value]="admin.id" [selected]="admin.id === adminSelect">
                    {{admin.label}}</option>
                </select>
              </div>

              <div>この依頼は{{adminUserName}}によって管理されます。</div>

            </td>
          </tr>


          <tr>
            <!-- 添付画像　-->
            <td>添付画像</td>
            <td></td>
            <td>
              <input type="file" accept="*/*" (change)="onInputChange($event)">
            </td>
            <td></td>
          </tr>
        </table>


        <div class="container-md text-center">
          <div class="dragarea w-100 border bg-light d-flex align-items-center" (dragover)="dragOver($event)"
            (drop)="drop($event)">
            <span class="mx-auto">ドラッグエリア</span>
          </div>
          <input type="file" id="dragareaInput" style="display:none" (change)="onChangeDragAreaInput($event)">
          <label class="mt-3 btn btn-secondary" for="dragareaInput">参照</label>
          <div class="row">
            <img *ngFor="let i of img" [src]="i" class="col-6">
          </div>
        </div>

        <div class="row">
          <div class="submit-button">
            <input type="submit" class="submit-button" value="確定" (click)="getResult()" [disabled]="invalid" />
          </div>
        </div>

      </div>
    </ng-template>
  </article>

</div>
