<div class="container">

  <div class="row">
    <div id="modal-title">hokoメカログイン</div>
    <div class="col-1"></div>
    <button id="close" mat-button (click)="closeModal()">✖</button>
  </div>

  <div *ngIf="!loading">
    <div class="row">
      <div class="col-1"></div>
      <label>ユーザー名</label>
    </div>

    <div class="row">
      <div class="col-1"></div>
      <input type="text" class="form-control" id="name" name="name" [(ngModel)]="data.userName" />
    </div>

    <div class="row">
      <div class="col-1"></div>
      <label>パスワード</label>
    </div>

    <div class="row">
      <div class="col-1"></div>
      <input type="password" class="form-control" id="passwd" name="passwd" [(ngModel)]="data.passwd" />
    </div>

    <div class="row">
      <div class="col-1"></div>
      <button type="submit" class="btn btn-primary" on-click="btnAction()">ログイン</button>
    </div>

    <div class="row">
      <div class="name" (click)="reissuePasswd()">パスワードを忘れた方はこちら</div>
      <div class="name" (click)="newResister()">まだ登録がお済でない方はこちら</div>
    </div>

  </div>

  <div *ngIf="loading" class="loading">
    <mat-progress-spinner class="spinner" mode="indeterminate"></mat-progress-spinner>
  </div>



</div>