

    <div class="container">
      
      <div class="confirmation" *ngIf="!confirmationDiv">

        <div class="row">
          <div class="col-3"></div>
          <div class="title">{{title}}
          </div>
          <div class="col-3"></div>
        </div>

        <div class="row">
          <div class="col-3"></div>
          <div class="col-3">
            <div *ngIf="!confirmationDiv">
              <div class="infomsg">登録する情報を入力してください</div>
            </div>
          </div>
          <div class="col-3"></div>
        </div>
    
        <form>
          <div class="form-row">
            <div class="col-3"></div>
            <div class="col-4">
              <label>Eメール</label>
              <input type="email" class="form-control" placeholder="email" id="email" name="email" #email>
            </div>
          </div>
    
          <div class="form-row">
            <div class="col-3"></div>
            <div class="col-4">
              <label>ユーザーID</label>
              <input type="text" class="form-control" placeholder="ユーザーID" id="userid" name="userid" #userid>
            </div>
          </div>
    
          <div class="form-row">
            <div class="col-3"></div>
            <div class="col-4">
              <label>パスワード: </label>
              <input type="password" class="form-control" placeholder="password" id="password" name="password" #password>
            </div>
          </div>
        </form>
    
        <div class="row">
          <div class="col-3"></div>
          <div class="col-4">
            <p class="error">{{dispMsg}}</p>
            <button class="btn btn-primary" type="submit" (click)="onSignup(email.value, password.value,userid.value)">送信</button>
          </div>
        </div>
      </div>
    
    
      <div class="confirmation">
        <div class="container" *ngIf="confirmationDiv">
          <div class="row">
            <div class="col-1"></div>
            <div class="col">
              <div class="infomsg">登録した「ユーザー名」と登録メールアドレスに届いた「登録コード」を入力してください。</div>
              <!-- <p>登録した「ユーザー名」と登録メールアドレスに届いた「登録コード」を入力してください。</p> -->
            </div>
          </div>
      
          <div class="row">
            <div class="col-3"></div>
            <div class="col-4">
              <label>ユーザー名</label>
            </div>
          </div>
      
          <div class="row">
            <div class="col-3"></div>
            <div class="col-4">
              <input type="name" class="form-control" placeholder="name" id="name" name="name" #name>
            </div>
          </div>
      
      
          <div class="row">
            <div class="col-3"></div>
            <div class="col-4">
              <label>Confirmation Code</label>
            </div>
          </div>
      
          <div class="row">
            <div class="col-3"></div>
            <div class="col-4">
              <input type="text" class="form-control" placeholder="confirmationCode" id="confirmationCode" name="confirmationCode"
                #confirmationCode>
            </div>
          </div>
      
            <div class="row">
              <div class="col-1"></div>
              <p class="error">{{dispMsg}}</p>
            </div>
      
            <!-- <div class="row">
              <div class="col-1"></div>
              <button class="btn btn-primary" type="submit" (click)="onConfirmation(name.value, confirmationCode.value)">送信</button>
            </div> -->


            <div class="row">
              <div class="col-3"></div>
              <div class="col-4">
                <p class="error">{{dispMsg}}</p>
                <button class="btn btn-primary" type="submit" (click)="onConfirmation(name.value, confirmationCode.value)">送信</button>
              </div>
            </div>

          </div>
        </div>
      </div>


