.confirmation {
  margin: 50px 10px 10px 10px;
}

.title {
  margin-bottom: 20px;
  font-size: x-large
}

.infomsg {
  margin: 0px 0px 20px -5px;
}

.btn {
  margin: 10px 0px 10px -5px;
  width: 103%;
  text-align: center
}