
<div class="container">
  <div class="row">
    <!-- <p>トップに戻る</p> -->

    <div class="menu_item item" (click)="onTopBytton()">トップに戻る</div>
  </div>

  <div class="row">
    <!-- <p>作業を頼む</p> -->
    <div class="menu_item item" (click)="onWorkRequest()">作業を頼む</div>
  </div>

  <div *ngIf="mechaDiv" class="row">
    <!-- <p>サービスを出品する</p> -->
    <div class="menu_item item" (click)="onWorkExhibit()">サービスを出品する</div>
  </div>

  <div class="row">
    <!-- <p>サービスを探す</p> -->
    <div class="menu_item item" (click)="onWorkSerch()">サービスを探す</div>
  </div>

  <div *ngIf="mechaDiv" class="row">
    <!-- <p>作業依頼を探す</p> -->
    <div class="menu_item item" (click)="onWorkRequestSerch()">作業依頼を探す</div>
  </div>

  <div class="row">
    <!-- <p>プロフィールを編集</p> -->
    <div class="menu_item item" (click)="onProfileEdit()">プロフィールを編集</div>
  </div>

  <div *ngIf!="mechaDiv" class="row">
    <!-- <p>メカニック登録を行う</p> -->
    <div class="menu_item item" (click)="onMechaResister()">メカニック登録を行う</div>
  </div>

  <div *ngIf="mechaDiv" class="row">
    <!-- <p>メカニックプロフィールを編集</p> -->
    <div class="menu_item item" (click)="onMechaProfileEdit()">メカニックプロフィールを編集</div>
  </div>

  <div *ngIf="factoryDiv" class="row">
    <!-- <p>工場プロフィールを編集</p> -->
    <div class="menu_item item" (click)="onFactoryProfileEdit()">工場プロフィールを編集</div>
  </div>

</div>

