<div class="head-display">
  <div class="menu" (click)="hakomecha()">Hako-mecha</div>

  <div class="btn-list">

    <div *ngIf="!authUserDiv; else elseContent">
    <!-- ログイン前 -->

      <input type="button" class="btn-border" on-click="onSinup()" value="新規登録">

      <input type="button" class="btn-border" on-click="onLogin()" value="ログイン" >

    </div>

    <ng-template #elseContent>
    <!-- ログイン後 -->
      <div *ngIf="temporaryUserDiv; else elseContent">
        <input type="button" class="btn-border" on-click="onUserResister()" value="ユーザー登録{{loginUser.userName}}" >
        <p>ユーザー登録が未完了です。登録をしてください。</p>
      </div>
      <ng-template #elseContent>
        <input type="button" class="btn-border" on-click="onMypage()" value="マイページ" >
      </ng-template>

      <input type="button" class="btn-border" on-click="onLogout()" value="ログアウト">

    </ng-template>


    <input type="button" class="btn-border" on-click="onClickHelp()" value="ヘルプ">

  </div>

</div>
