<!-- <p>取引メニュー画面</p> -->

<div class="transaction-menu">
  <aside>

    <app-side-menu [acceseUser]="acceseUser">
    </app-side-menu>

  </aside>

  <article>
    <div *ngIf="loading; else mainContent" class="loading">
      <mat-progress-spinner class="spinner" mode="indeterminate"></mat-progress-spinner>
    </div>
    <ng-template #mainContent>
      <div class="transaction-menu">

        <div class="tab-area-base">

          <ul class="tab-menu-base">
            <ng-container *ngFor="let tab of tabs">
              <li [class.current]="tab.current" (click)="onClick($event)">{{tab.name}}</li>
            </ng-container>
          </ul>

          <div class="tab_contents">
            <!-- ngComponentOutlet で動的にコンポーネントを読み込む -->
            <ng-container *ngComponentOutlet="currentTab"></ng-container>
            <!-- <div *ngComponentOutlet="currentTab"></div> -->
          </div>

        </div>
      </div>
    </ng-template>
  </article>

</div>
