.table {
  background-color: #fff;
  border: #000;
  margin-top: 30px;
  text-align: center;
  th {
    position: sticky;
    background: #f2f2f2;
    top: 0;
    left: 0;

  #name {
    width: 200px;
  }

  #status {
    width: 100px;
  }

  #count {
    width: 60px;
  }
  .item_title {
    cursor: pointer;
    color: blue;
  }

  }
}
.table2 {
  height: 450px;
  overflow: hidden;
  overflow-y: auto;
}
